In [17]:
import numpy as np

In [18]:
hairstyles = ["bouffant" , "pixie" , "dreadlocks" , "crew" , 
                      "bowl" , "bob" , "mohawk" , "flattop"]

In [19]:
prices = [30, 25, 40, 20, 20, 35, 50, 35]

In [20]:
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

In [21]:
# First
total_price = 0

In [22]:
# 2~3
for i in range(8) :
    total_price += prices[i] # +=
average_price = total_price / len(prices) 
# using the len() function

In [23]:
# Fourth

print("Average price is" , average_price)

Average price is 31.875

In [24]:
# 5
new_prices = [prices - 5 for prices in prices]
# for ~ in ~

In [25]:
# 6
print(new_prices)

[25, 20, 35, 15, 15, 30, 45, 30]

In [26]:
# 7
total_revenue = 0

In [27]:
# 8 ~ 9
for i in range(0, len(hairstyles)) :
    total_revenue += prices[i] * last_week[i]

In [28]:
# 10
print(total_revenue)

1085

In [29]:
# 11
average_daily_revenue = total_revenue / 7
print("Average daily revenue is " , average_daily_revenue)

Average daily revenue is  155.0

In [30]:
# 12
# Carly thinks she can bring in more customers by advertising all of the haircuts she has that are under 30 dollars. 
# Use a list comprehension to create a list called cuts_under_30 that has the entry hairstyles[i] for each i for which new_prices[i] is less than 30. 
# You can use range() in your list comprehension to make i go from 0 to len(new_prices) -

In [31]:
# 12
cuts_under_30 = [hairstyles[i] for i in range(0 , len(new_prices) - 1) 
                        if new_prices[i] < 30]

In [32]:
# Final
print(cuts_under_30)

['bouffant', 'pixie', 'crew', 'bowl']